// Body
$body-bg: #f8fafc;

// Typography
$primary-font-family: 'Niconne', cursive;
$second-font-family: 'Merriweather', serif;

$primary-font-size: 6rem;
$second-font-size: 4rem;

$font-size-base: 0.9rem;

$line-height-base: 1.6;

// Colors
$signal-white: #f4f4f4;
$primary-color: #00916E;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$link-hover-decoration: none;
